<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase()==="rusty") { %>
    <p>Good Choice! RUSTY IS THE BEST!</p>
<% } %>

<p>P.S this the love love.ejs file!</p>

<% include partials/footer %>